/* --- BODY --- */
body {
    background-color: #303030;
    font-family: sans-serif;
    color: white;
    margin: 0;
    padding: 0;
}

/* --- OBRAZY --- */
img {
    width: 100%;
    max-width: 640px;
    height: auto;
    border-radius: 10px;
    outline: 2px solid #303030;
}

/* --- TOP BAR --- */
.top {
    display: flex;
    justify-content: space-between; /* Dwuklan po lewej, linki po prawej */
    align-items: center;
    padding: 0px 10px;
    margin-bottom: 20px;
    background-color: #303030;
    border-bottom: 1px solid grey;
}

/* GŁÓWNY NAGŁÓWEK */
#main {
    font-size: 48px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

/* LINKI W TOP BAR */
.links {
    display: flex;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.links a:hover {
    color: #1E90FF;
    transform: scale(1.05);
}

/* --- LINKI / ARTYKUŁY --- */
.links-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #414141;
    padding: 20px;
    margin: 20px auto;
    width: fit-content;
    border-radius: 10px;
    outline: 2px solid #303030;
}

.links-page a {
    text-decoration: none;
    color: white;
    transition: 0.2s;
}

.links-page a:hover {
    color: #303030;
    transform: scale(1.01);
}

/* --- FORMUŁA ŚRODEK EKRANU --- */
.formula {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background-color: #414141;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    outline: 2px solid #303030;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
}

.loreg {
    width: 105px;
    margin: 14px auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
}
button {
    background-color: #303030;
    color: white;
    padding: 10px;
    border-radius: 7px;
    width: 206px;
    border: none;
    transition: 0.3s;
    cursor: pointer;
}

button:hover {
    background-color: #474747;
}

button:active {
    background-color: #303030;
    transform: translateY(2px); /* efekt wciskania */
}